.uvod,
.buttons > div:hover {
  transition: linear 80ms;
  border-bottom: solid;
  border-width: 3px;
  border-color: #3f220f;
}
.main {
  width: 100%;
}
.center_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  color: #27150a;
  text-align: center;
  font-weight: 300;
}
.nadpis {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 3px;
}
.info {
  letter-spacing: 4px;
  font-weight: 400;
  font-family: kalam;
  font-size: 40px;
  margin-right: 10px;
  padding-top: 25px;
}
.galleryinfo {
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: rgba(173, 134, 92, 0.5);
}
.galleryinfo > div {
  height: auto;
}
.imgleft {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.imgleft > img {
  width: 70%;
  height: auto;
  align-self: center;
  border-radius: 30px;
  margin-left: -100px;
  border: 4px solid #3f220f;
}
.infotextwrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 60px;
}
.infotext {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: kalam;
  font-weight: regular;
  float: right;

  letter-spacing: normal;
  border-radius: 30px;
  /*border: 4px solid #3f220f;*/
}
.infotext > p {
  padding-bottom: 10px;
  padding-top: 10px;
  align-self: center;
  font-size: 35px;
  color: #331c0d;
  line-height: 35px;
  padding-left: 5px;
  padding-right: 5px;
}
.banner {
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 150px;
  background-color: rgba(173, 134, 92, 0.5);
}
#left.banner {
  justify-self: flex-start;
}
.image {
  width: 40%;
  height: auto;
}
.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#left.image {
  margin-left: 30px;
  border: 4px solid #3f220f;
  border-radius: 25px;
}
#right.image {
  margin-right: 45px;
  border: 4px solid #3f220f;
  border-radius: 25px;
}
#right.image > img {
  border-radius: 20px;
}
#left.image > img {
  border-radius: 20px;
}
.text {
  color: #331c0d;
  width: 50%;
  padding: 130px;
}
.text > h1 {
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 30px;
}
.text > p {
  font-size: 30px;
  padding-bottom: 40px;
}
.text > a {
  text-decoration: none;
  color: #331c0d;
  font-size: 25px;
  padding: 10px;
  background-color: rgba(173, 134, 92, 0.5);
  border-radius: 5px;
  border: 2px solid #3f220f;
}
.text > a:hover {
  text-decoration: none;
  color: rgba(173, 134, 92);
  font-size: 25px;
  padding: 10px;
  background-color: #331c0d;
  border-radius: 5px;
  border: 2px solid rgba(173, 134, 92);
}
.kontakty {
  color: #331c0d;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(173, 134, 92, 0.5);
  padding: 15px;
  padding-top: 20px;
  margin-bottom: 50px;
}
.kontakth > a {
  font-size: 35px;
  font-weight: bold;
  color: #331c0d;
}
.kontaktwrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
}
.kontaktwrapper > div {
  padding: 25px;
}
.kontaktwrapper > h1,
p {
  padding-top: 20px;
}
.site > a {
  color: #331c0d;
}


/* Popup container */
.popup {
  position: relative;
  display: inline-block;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: rgba(173, 134, 92);
  border-radius: 5px;
  border: 2px solid #3f220f;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: xx-large;
}

.popup > a > img {
  border-radius: 5px;
}

.inviteText > h1 {
  padding: 5%;
  font-size: x-large;
}

.inviteText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.buttonWrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.buttonWrapper > button{
	cursor: pointer;

}

.inviteText >div> button{
	width: 30%;
	background-color: rgba(173, 134, 92);
	border-radius: 5px;
	border: 2px solid #3f220f;
	font-family: 'Courgette';
	justify-self: center;
}

@media screen and (max-width: 1100px) {
	body {
	  box-sizing: border-box;
	}
	.galleryinfo {
	  flex-direction: column;
	  justify-content: flex-end;
	  margin-top: 80px;
	}
	.infotextwrapper {
	  width: 100%;
	  display: flex;
	  justify-content: center;
	  flex-direction: row;
	}
	.infotext {
	  margin: 0px;
	  width: 80%;
	}
  
	.text {
	  padding: 30px;
	}
	.center_text {
	  margin-top: 80px;
	}
	.imgleft > img {
	  margin: 0px;
	}
	.popup{
		flex-direction: column;
		width:min-content;
	  }
	.inviteText{
		width:80%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
  }
  
  @media screen and (max-width: 750px) {
	.center_text {
	  flex-direction: column;
	}
	.center_text > p {
	  font-size: 35px;
	}
	.infotext > p {
	  font-size: 25px;
	  row-gap: 0px;
	}
	.banner {
	  flex-direction: column;
	}
	.text {
	  width: 90%;
	  padding: 20px;
	}
	.image {
	  width: 80%;
	  margin-left: 20px;
	  margin-top: 25px;
	  padding-bottom: -10px;
	}
	.kontakty {
	  padding: 0px;
	  margin: 0px;
	  padding-bottom: 20px;
	  padding-top: 10px;
	  width: 100%;
	}
	.kontaktwrapper {
	  flex-direction: column;
	}
	.kontaktwrapper > div {
	  padding: 10px;
	}
	.kontaktnadpis {
	  padding-bottom: 10px;
	}
	.site {
	  padding: 0px;
	}
	#dopln {
	  flex-direction: column-reverse;
	}
  }