body{
  height: 100vh;
  width: 100vw;
  color: #331c0d;
}
.content{
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}
.kontakt,
.buttons > div:hover{
  transition: linear 80ms;
  border-bottom: solid;
  border-width: 3px;
  border-color: #3f220f;
}

.heading {
  display: flex;
  justify-content: center;
}
.heading > h1 {
  font-weight: bold;
  font-size: 50px;
  margin-top: 30px;
  background-color: rgba(173, 134, 92, 0.8);
  padding: 15px;
}
.container{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.infowrapper{
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: 4px solid #3f220f;
  margin: -10px;
}
.info{
  background-color: rgba(173, 134, 92, 0.8);
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
  line-height: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1{
  font-size: 25px;
  text-decoration: underline;
}
a{
  color: #331c0d;
}

@media screen and (max-width: 750px){
  .infowrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .info{
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  .address{
    padding-left: 30px;
  }
  .container{
    display: flex;
    flex-direction: row;
  }
  .map > iFrame{
    width: 100%;
    height: 500px;
  }
}