.stoly,
.buttons > div:hover {
  transition: linear 80ms;
  border-bottom: solid;
  margin-top: 5px;
  border-width: 3px;
  border-color: #3f220f;
}

.containerwrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
#gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-top: 100px;
}
#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3f220f;
  color: #92704c;
  padding: 15px;
  font-size: 25px;
  margin-top: -2px;
}
img {
  width: 100%;
  height: auto;
}
.item1 {
  display: none;
}
.item1.active {
  display: block;
  margin-bottom: -2px;
}
#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#prev > p,
#next > p {
  margin-top: 0px;
  margin-bottom: 1px;
}
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
#prev:hover,
#next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
#imgRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}
.rowItem1.active{
  opacity: 100%;
 }

.rowItem1{
  opacity: 50%;
}
